@use 'variables';


section.hero{
    width: 100%;
    height: auto;
    min-height: 340px;

    img.hero__banner{
        width: 100%;
        height: auto;
        min-height: 340px;
        object-fit: cover;
    }

    div.hero__blur{
        height: 100%;
        min-height: 340px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #000, transparent);
        background-size: 100% 100%;
        background-position: left top;

        @media screen and (max-width: variables.$breakpoint-md) {
            width: 60%;
        }

        @media screen and (min-width: variables.$breakpoint-md) {
            width: 40%;
        }
    }

    div.hero__container{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5%, 50%);

        @media screen and (min-width: variables.$breakpoint-xl) {
            transform: translate(10%, 90%);
        }
        
        .hero__title{
            color: red;
            font-weight: bold;
            font-size: variables.$header-size-base;
            font-family: variables.$font-hero-title;
            text-shadow: variables.$text-outline-1;

            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$header-size-xl;
            }
        }

        .hero__details{
            opacity: .7;
            text-shadow: variables.$text-outline-1;
            font-size: variables.$font-size-sm;

            
            &:first-of-type
            {
                font-weight: bold;
                opacity: 1;
                font-size: variables.$font-size-sm;
            }
           
            @media screen and (min-width: variables.$breakpoint-md) {
                font-size: variables.$font-size-md;
                &:first-of-type
                {
                    font-size: variables.$font-size-lg;
                }
            }
        }

        button{
            color: #000;
            font-weight: bold;

            @media screen and (min-width: variables.$breakpoint-lg) {
                font-size: variables.$font-size-lg;
            }
        }
    }
}