@use 'variables';


section.hero{
    width: 100%;
    height: auto;
    min-height: 340px;

    img.hero__banner{
        width: 100%;
        height: auto;
        min-height: 340px;
        object-fit: cover;
    }

    div{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5%, 50%);

        @media screen and (min-width: variables.$breakpoint-xl) {
            transform: translate(10%, 90%);
        }
        
        .hero__title{
            color: red;
            font-weight: bold;
            font-size: variables.$header-size-base;
            font-family: variables.$font-hero-title;
            text-shadow: variables.$text-outline-1;

            @media screen and (min-width: variables.$breakpoint-lg) {
                font-size: variables.$header-size-xl;
            }
        }

        .hero__details{
            font-weight: bold;
            text-shadow: variables.$text-outline-1;
            font-size: variables.$font-size-base;

            @media screen and (min-width: variables.$breakpoint-lg) {
                font-size: variables.$font-size-lg;
            }
        }

        button{
            color: #000;
            font-weight: bold;

            @media screen and (min-width: variables.$breakpoint-lg) {
                font-size: variables.$font-size-lg;
            }
        }
    }
}