

// Gerais
//Colors
$primary-color: #FFB22C;
$secondary-color: #000000;
$quaternary-color: #854836;
$tertiary-color: #F7F7F7;

$text-color: #F7F7F7;
$primary-text-color: #000000;
$secondary-text-color: #F7F7F7;

// Fontes
$font-global: "Open Sans", sans-serif;
$font-header-title: "Bruno Ace SC", cursive;
$font-hero-title: "Mynerve", serif;

// Font Sizes
$font-size-x-sm: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-x-lg: 2rem;

// Headers
$header-size-base: 4rem;
$header-size-xl: 5rem;

// Font Weights
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 500;
$font-weight-4: 600;
$font-weight-5: 700;
$font-weight-6: 800;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Spacing
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;

// Margins 
$margin-1: 0.25rem;
$margin-2: 0.5rem;
$margin-3: 0.75rem;
$margin-4: 1rem;
$margin-5: 1.5rem;
$margin-6: 2rem;

// Paddings
$padding-1: 0.25rem;
$padding-2: 0.5rem;
$padding-3: 0.75rem;
$padding-4: 1rem;
$padding-5: 1.5rem;
$padding-6: 2rem;

//Outlines
$text-outline-1: (
    -1px -1px 0 black, /* Sombra superior esquerda */
     1px -1px 0 black, /* Sombra superior direita */
    -1px  1px 0 black, /* Sombra inferior esquerda */
     1px  1px 0 black  /* Sombra inferior direita */
);
